<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>


<body class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
      <!-- Round Profile Image -->
      <img
        src="https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg" 
        alt="Profile Picture"
        class="profile-img mx-auto d-block mb-4"
      />

      <div *ngIf="loginMessage" class="text-center my-2" [ngClass]="messageClass">
        {{ loginMessage }}
      </div>

      <!-- Login Form -->
      <h3 class="text-center mb-4">Login</h3>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
          [(ngModel)]="email" name="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            #emailRef="ngModel"
            required
          />
          <div *ngIf="emailRef.invalid && (emailRef.touched || emailRef.dirty)" class="text-danger small">
            <div *ngIf="emailRef.errors?.['required']">Email is required.</div>
            <div *ngIf="emailRef.errors?.['email']">Invalid email format.</div>
          </div>
        </div>


        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
          [(ngModel)]="password" name="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            #passwordRef="ngModel"

            required
          />

          <div *ngIf="passwordRef.invalid && (passwordRef.touched || passwordRef.dirty)" class="text-danger small">
            <div *ngIf="passwordRef.errors?.['required']">Password is required.</div>
          </div>

        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary w-100">Login</button>

        <div class="signup my-2">
            <div>Dont have Account?</div>
            <button (click) = "navigateToSignup()" type="button" class="btn btn-danger w-100 my-2">SignUp</button>
        </div>
      </form>
    </div>
  
   
  </body>


</html>